<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentTasksServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentTasksServiceSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AuthServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://poc.virtualpostman.co.za/external/webservices/SOAP/Auth-v3.0"
                binding="customBinding" bindingConfiguration="AuthServiceSoapBinding"
                contract="vp_webservice_auth.Auth" name="AuthPort" />
            <endpoint address="https://poc.virtualpostman.co.za/external/webservices/SOAP/DocumentTasks-v1.0"
                binding="basicHttpBinding" bindingConfiguration="DocumentTasksServiceSoapBinding"
                contract="vp_webservice_documenttasks.DocumentTasks" name="DocumentTasksPort" />
        </client>
    </system.serviceModel>
</configuration>